@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: var(--font-poppins);

    --color-primary-black: #0a0a0f;
    --color-secondary-black: #12121a;
    --color-primary-gray: #1c1c2b;
    --color-muted-gray: #3f3f5a;
    --color-secondary-gray: #8e8ea8;
    --color-primary-white: #eeeeff;
    --color-secondary-white: #d1d1f0;
    --color-muted-white: #a8a8c0;
    --color-accent: #4f46e5;
}