@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: var(--font-poppins);

    --color-primary-black: #0a0a0f;
    --color-secondary-black: #12121a;
    --color-primary-gray: #1c1c2b;
    --color-muted-gray: #3f3f5a;
    --color-secondary-gray: #8e8ea8;
    --color-primary-white: #eeeeff;
    --color-secondary-white: #d1d1f0;
    --color-muted-white: #a8a8c0;
    --color-accent: #4f46e5;
    --color-red-primary: #FF3B30;
    --color-green-primary: #34C759;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-accent/75 hover:bg-accent p-px rounded-full;
}

.login-input {
    @apply w-full border-b-2 border-b-secondary-black/50 dark:border-b-secondary-white/50 hover:not-focus:not-disabled:border-b-primary-black dark:hover:not-focus:not-disabled:border-b-primary-white focus:border-b-accent text-secondary-black dark:text-secondary-white transition-colors duration-200 focus:outline-none
}

.login-input-error {
    @apply w-full border-b-2 border-b-red-600 text-secondary-black dark:text-secondary-white transition-colors duration-200 focus:outline-none
}

.login-label {
    @apply text-primary-gray dark:text-muted-white text-sm font-light
}

.form-input {
    @apply w-full border-b-2 border-b-secondary-black/50 dark:border-b-secondary-white/50 hover:not-focus:not-disabled:border-b-primary-black dark:hover:not-focus:not-disabled:border-b-primary-white focus:border-b-accent text-secondary-black dark:text-secondary-white text-lg transition-colors duration-200 focus:outline-none disabled:cursor-not-allowed
}

.form-input-error {
    @apply w-full border-b-2 border-b-red-600 text-secondary-black dark:text-secondary-white text-lg transition-colors duration-200 focus:outline-none disabled:cursor-not-allowed
}

.form-label {
    @apply text-primary-gray dark:text-muted-white font-light
}

.dashboard-small-btn {
    @apply rounded-md p-2 px-4 md:px-8 truncate text-sm font-light shadow-md shadow-primary-black/10 text-center hover:cursor-pointer disabled:cursor-not-allowed
}
