@import "tailwindcss";

@theme {
    --color-primary-black: #0a0a0f;
    --color-secondary-black: #12121a;
    --color-primary-gray: #1c1c2b;
    --color-muted-gray: #3f3f5a;
    --color-secondary-gray: #8e8ea8;
    --color-primary-white: #eeeeff;
    --color-accent: #4f46e5;
}